@import '../../core/base';
@import '../../modules/buttons';
@import '../../mixins/flex';
@import '../../modules/tabs';
.currentGame{
  &__content{
    width: 100%;
    height: 100%;
    background: $color-bg-member;
    &_inner{
      @include flex(center, space-between);
      max-width: 1680px;
      height: 100%;
      margin: 0 auto;
      padding: 15px 25px;

      h3{
        font-size: 1.8rem;
        font-weight: 700;
      }
      p{
        font-size: 1.2rem;
        font-weight: 600;
        color: #899BB0;
        margin-bottom: 20px;
      }
    }
    &_leftMenu{
      background: #fff;
      border-radius: 4px;
      border: 1px solid #CEE1F6;
      width: 362px;
      height: 100%;
      padding: 30px;
      position: relative;
      overflow: hidden;
      h4{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: #899BB0;
        padding-bottom: 5px;
      }
      h5{
        font-size: 1.2rem;
        font-weight: 600;
        color: #899BB0;
        padding-bottom: 5px;
      }
    }
    &_menuBlock{
      margin: 30px 0;
    }
    &_tabContent{
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 30px;
      transition: all .35s ease-in-out;
      &Active{
        right: 0;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
    &_game{
      @include flex(center, center);
      width: calc(100% - 362px);
      height: 100%;
      position: relative;
    }
    &_gameBlock{
      width: 702px;
    }
    &_gameTrigger{
      position: absolute;
      right: 0;
    }
    &_gameWidget{
      width: 50px;
      padding: 0;
      background: #fff;
      border-radius: 5px;
      border: none;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
      padding-bottom: 50px;
      cursor: pointer;
      position: relative;
      height: auto;
      min-height: 155px;
      h3 {
        font-size: 14px;
        writing-mode: tb;
        transform: rotate(180deg);
        line-height: 20px;
        margin: 5px 15px;
        padding: 0;
        display: block;
        position: relative;
        
      }
      &_icon{
        @include flex(center, center);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        svg,
        img{
          height: 30px;
          width: auto;
          max-width: 70%;
        }
      }
    }
  }
  &__btnClose{
    position: absolute;
    top: 20px;
    right: 10px;
    margin: 0 !important;
    padding: 0 !important;
  }
  &__imageBlock{
    @include flex(center, space-between);
    padding: 15px;
    border: 1px dashed rgba(78,145,217,0.5);
    width: 100%;
    height: 115px;
    border-radius: 5px;
    margin-bottom: 25px;

    img{
      width: 120px;
      height: 80px;
      border-radius: 3px;
      object-fit: cover;
    }
  }
}