@import '../../core/base';
@import '../../modules/buttons';
@import '../../mixins/flex';
.currentGame{
  &__header{
    width: 100%;
    background: $color-bg-headerDialog;
    &_inner{
      @include flex(center, space-between);
      max-width: 1680px;
      margin: 0 auto;
      padding: 15px 25px;

      h2{
        @include flex(center, center);
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        padding: 0;
      }
    }
    &_btnPreview{
      position: relative;
      margin-right: 30px !important;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        width: 1px;
        height: 16px;
        margin-top: -8px;
        background: #CEE1F6;
      }
    }
  }
}