.logo {
  background-image: url('/assets/images/icons/logo_label.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.icon-right{
  background-color: #fff !important;
  min-height: 40px !important;
  background-image: url('../../assets/images/icons/arrow-right.svg') !important;
  background-repeat: no-repeat;
  background-position: center right;
}