.tab__content {
  &_btn {
    color: #C3C3C4;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    text-transform: capitalize;
    transition: all 0.3s ease-out;
    span{
      flex-direction: column;
    }
    &Active,
    &:hover{
      background: #fff;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      color: #353535;
    }
  }
  &_btnDesktop,
  &_btnMobile {
    background-color: #e9e9e9;
    color: #b1b1b1;
    display: block;
    width: 100px;
    height: 100px;
    text-transform: capitalize;
    transition: all 0.3s ease-out;
    span{
      flex-direction: column;
    }
    &:hover{
      background: #fff;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      color: #353535;
    }
  }
  &_btnDesktop {
    border-bottom: 1px solid #CECECE;
    border-radius: 20px 20px 0 0;
  }
  &_btnMobile {
    border-radius: 0 0 20px 20px;
  }
  
  &_icon_editDesign {
    background: url('../../../assets/images/btn_edit_design.svg') no-repeat  0 0 / 100% auto transparent;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
  &_icon_editText {
    background: url('../../../assets/images/btn_edit_text.svg') no-repeat  0 0 / 100% auto transparent;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
  &_icon_desktop {
    background: url('../../../assets/images/icon_desctop.svg') no-repeat  0 0 / 100% auto transparent;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
  }
  &_icon_mobile {
    background: url('../../../assets/images/icon_mobile.svg') no-repeat  0 0 / 100% auto transparent;
    width: 2.5rem;
    height: 4rem;
    margin: 0 auto;
  }
  &_btnActive &_icon_editDesign,
  &_btn:hover &_icon_editDesign {
    background-image: url('../../../assets/images/btn_edit_design_hover.svg');
  }
  &_btnActive &_icon_editText,
  &_btn:hover &_icon_editText {
    background-image: url('../../../assets/images/btn_edit_text_hover.svg');
  }
  &_btnDesktop:hover &_icon_desktop {
    background-image: url('../../../assets/images/icon_desctop_hover.svg');
  }
  &_btnMobile:hover &_icon_mobile {
    background-image: url('../../../assets/images/icon_mobile_hover.svg');
  }
  &_btnsView {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}