@import '../../core/base';
// @import '../../modules/buttons';

.heading_info{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   &:before{
     content: '';
     display: inline-block;
     margin-right: 5px;
     background-image: url('../../../assets/images/icon_info.svg');
     background-repeat: no-repeat;
     width: 24px;
     height: 24px;
   }
}

.tab__content {
  width: 100%;
  height: 100%;
  min-width: 700px;
  padding: 20px !important;
  position: relative;

  &_widget { 
    @include flex(center, center, column);
    background: #fff;
    padding: 20px 15px 20px 35px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    min-height: 650px;
  }
} 
.widget {
  width: 100px;
  padding: 0;
  background: #E5E5E5;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 55px;
  cursor: pointer;
  position: relative;

  h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: $color-coupon-gray-dark;
    writing-mode: tb;
    transform: rotate(180deg);
    line-height: 20px;
    margin: 20px 40px;
    padding: 0;
  }
  &__icon{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    svg{
      height: 40px;
      width: auto;
      max-width: 80%;
    }
  }
  &__form{
    position: relative;
    padding: 15px;
    max-width: 300px;
    
    h4 {
      padding-bottom: 5px;
    }
    &_input {
      margin-bottom: 15px;
      input {
        padding: 10px;
        background: #EAEAEA;
        border-radius: 10px;
      }
      fieldset {
        border: none;
      }
    }
    &_images{
      margin-bottom: 15px;
      ul{
        @include flex(center, center);
        li{
          display: inline-block;
          margin: 5px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          transition: all .2s ease-in-out;
          
          button{
            border: none;
            background: none;
            outline: none;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            display: block;
            cursor: pointer;
          }
          svg{
            max-width: 50px;
            max-height: 50px;
          }

          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
    button{
      margin-bottom: 10px;
    }
    
  }
}
.test {
  [class*="MuiPaper-root"] {
    position: absolute;
    overflow: inherit;
    border-radius: 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      left: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 20px 15px 0;
      border-color: transparent #ffffff transparent transparent;
      
    }
  }
}