@import '../../core/base';
// @import '../../modules/buttons';

.heading_info{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   &:before{
     content: '';
     display: inline-block;
     margin-right: 5px;
     background-image: url('../../../assets/images/icon_info.svg');
     background-repeat: no-repeat;
     width: 24px;
     height: 24px;
   }
}


.tab__content {
  width: 100%;
  height: 100%;
  min-width: 700px;
  padding: 20px !important;
  position: relative;
  &_coupons {
    background: #fff;
    padding: 20px 15px 20px 35px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  &_couponsInner {
    @include flex(center, left);
    flex-wrap: wrap;
  }
  &_couponsAddBtn {
    margin: 15px auto;
    display: block;
  }
  &_couponsModal {
    border-radius: 50px;
  }
}
.coupon {
  background: #fff;
  width: 175px;
  height: 325px;
  padding: 15px 5px 15px 15px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 27%;
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 10;
  }
  &:before {
    left: 15px;
  }
  &:after {
    right: 5px;
  }
  &__inner {
    background: $color-coupon-gray-dark;
    height: 100%;
    padding: 12px;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -2px;
      background-image: radial-gradient(#fff 50%, transparent 55%);
      background-position: 0 0, 10px 10px;
      background-size: 17px 22px;
      height: 20px;
      width: 100%;
    }
    &:before {
      top: -14px;
    }
    &:after {
      bottom: -13px;
    }
  }
  &__promoCode {
    @include flex(center, center);
    height: 30%;
    background: $color-coupon-gray;
    text-align: center;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: $color-coupon-gray-dark transparent transparent transparent;
    }
    h3 {
      text-transform: uppercase;
      margin: 0;
      padding: 10px 10px 30px 10px;
      font-weight: bold;
      color: $color-coupon-gray-dark;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 10px;
        background: $color-coupon-gray-dark;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 2px;
        background: $color-coupon-gray-dark;
      }
    }
  }
  &__name {
    @include flex(center, center);
    height: 70%;
    background: $color-coupon-gray;
    cursor: pointer;
    position: relative;
    h3 {
      font-size: 20px;
      color: $color-coupon-gray-dark;
      transform: rotate(-90deg);
      padding: 0;
    }
    &_btns {
      @include flex(center, center, column);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-coupon-gray;
      transition: all 0.3s ease-out;
      opacity: 0;
    }
    &_btnEdit {
      background: url('../../../assets/images/games/coupon-settings.svg') no-repeat;
      width: 29px;
      height: 29px;
      margin: 10px;
      &:hover {
        background: url('../../../assets/images/games/coupon-settings_hover.svg') no-repeat;
      }
    }
    &_btnDelete {
      background: url('../../../assets/images/games/coupon-trash.svg') no-repeat;
      width: 25px;
      height: 24px;
      margin: 10px;
      &:hover {
        background: url('../../../assets/images/games/coupon-trash_hover.svg') no-repeat;
      }
    }
  }
  
  &__form {
    position: relative;
    &_close  {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 25px;
      height: 25px;
      opacity: 0.3;
      cursor: pointer;
      z-index: 10;
  
      &:hover {
        opacity: 1;
        background: none;
      }
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #333;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      
    }
    &_title {
      padding: 15px;
      border-bottom: 1px solid #ccc;
      h3 {
        font-size: 20px;
        padding: 0;
      }
    }
    &_content {
      padding: 15px;
      h4 {
        padding-bottom: 5px;
      }
    }
    &_input {
      margin-bottom: 15px;
      input {
        padding: 10px;
        background: #EAEAEA;
        border-radius: 10px;
      }
      fieldset {
        border: none;
      }
    }
    &_select {
      margin-bottom: 20px;
      &:before,
      &:after {
        content: none;
      }
      & div,
      & div:focus {
        background: #EAEAEA;
        border-radius: 10px;
        padding: 10px 30px 10px 20px;
      }
      & .MuiSelect-icon {
        right: 3px;
      }
    }
    &_twoCol {
      @include flex(center, left, row);
      h5 {
        padding: 0;
        margin: 0 10px;
        font-size: 16px;
      }
    }
  }
  &:hover &__name_btns {
    opacity: 1;
  } 
}   