@import '../core/base';
@import '../modules/logo';

.auth {
  @include flex(center, center);
  padding: 1.5rem;
  height: inherit;
  width: 100%;
  background-image: url('../../assets/images/bg.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: #E8EFF7;
  background-size: contain;
  &__wrap {
    margin: 50px;
    position: relative;
  }
  &__circle1{
    position: absolute;
    top: 0;
    left: -300px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #B502FF;
  }
  &__circle2{
    position: absolute;
    top: 100px;
    left: -100px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #6DDE8C;
  }
  &__circle3{
    position: absolute;
    bottom: 0;
    left: -150px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #2079FB;
  }
  &__circle4{
    position: absolute;
    top: 0;
    right: -150px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #FF67A4;
  }
  &__circle5{
    position: absolute;
    bottom:  160px;
    right: -300px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #B502FF;
  }
 
  &__circle6{
    position: absolute;
    bottom: 90px;
    right: -230px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #6DDE8C;
  }
  &__circle7{
    position: absolute;
    bottom: 50px;
    right: -280px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #FF67A4;
  }
  &__container {
    background-color: $color-bg-gray;
    border-radius: .4rem;
    box-shadow: 0px .1rem .3rem 0 rgba(0,0,0,0.2), 0 .1rem .1rem 0 rgba(0,0,0,0.14), 0 .2rem .1rem -.1rem rgba(0,0,0,0.12);
    padding: 3.2rem;
    margin-top: 2rem;
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 34rem;
    overflow: hidden;
    width: 100%;
    @extend .scale-in-center;
    @include mobile-lg {
      padding: 1.5rem;
    }
    &_lg {
      max-width: 102.4rem;
    }
  }
  & &__progress {
    position: absolute;
    top: -.2rem;
    left: 0;
    width: 100%;
  }
  &__logo {
    @extend .logo;
   
    margin: 0 auto 20px auto;
  }
  &__form {
    padding-bottom: 3.2rem;
    &_input{
      label{
        transform: translate(14px, 15px) scale(1);
        font-size: 1.4rem;
      }
      input{
        padding: 13px 15px;
      }
      fieldset{
        border-color: #CEE1F6 !important;
      }
    }
  }
  &__title {
    padding: 10px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 1.4rem;
    color: #899BB0;
    font-weight: normal;
  }
  &__forgot {
    display: block;
    text-align: right;
    padding: .8rem 0 0;
  }
  &__button {
    margin-top: 2rem !important;
    width: 100%;
    background: #4E91D9 !important;
    text-transform: none !important;
    font-weight: normal !important;
    box-shadow: none !important;
    justify-content: left !important;
    color: #fff !important;
    &:hover{
      background: #4080c5  !important;
    }
    &_icon{
      background: url('../../assets/images/icons/done.svg');
      width: 33px;
      height: 32px;
    }
  }
  &__select {
    text-align: left;
  }
  &__error {
    position: relative;
    padding: 15px;
  }
  &__errorText {
    color: red;
    position: absolute;
    @extend .scale-in-center;
  }
  &__privicyLink{
    display: inline !important;
  }
  & a {
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.scale-in-center {
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
