@import '../core/base';
@import '../modules/buttons';
@import '../mixins/flex';
@import '../modules/tabs';

.currentGame{
  &__header{
    width: 100%;
    background: $color-bg-headerDialog;
    &_inner{
      @include flex(center, space-between);
      max-width: 1680px;
      margin: 0 auto;
      padding: 15px 25px;

      h2{
        @include flex(center, center);
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        padding: 0;
      }
    }
    &_btnPreview{
      position: relative;
      margin-right: 30px !important;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        width: 1px;
        height: 16px;
        margin-top: -8px;
        background: #CEE1F6;
      }
    }
  }

  &__content{
    width: 100%;
    height: 100%;
    background: $color-bg-member;
    &_inner{
      @include flex(center, space-between);
      max-width: 1680px;
      height: 100%;
      margin: 0 auto;
      padding: 15px 25px;

      h3{
        font-size: 1.8rem;
        font-weight: 700;
      }
      p{
        font-size: 1.2rem;
        font-weight: 600;
        color: #899BB0;
        margin-bottom: 20px;
      }
    }
    &_leftMenu{
      background: #fff;
      border-radius: 4px;
      border: 1px solid #CEE1F6;
      width: 362px;
      height: 100%;
      padding: 30px;
      position: relative;
      overflow: hidden;
      h4{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: #899BB0;
        padding-bottom: 5px;
      }
    }
    &_menuBlock{
      margin: 30px 0;
    }
    &_tabContent{
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 30px;
      transition: all .35s ease-in-out;
      &Active{
        right: 0;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__btnClose{
    position: absolute;
    top: 20px;
    right: 10px;
    margin: 0 !important;
    padding: 0 !important;
  }
  &__tabs{
    &_iconLabelWrapper{
      flex-direction: row;
      margin-bottom: 0;
      justify-content: left;
      svg{
        margin-bottom: 0 !important;
      }
    }
    &_indicator{
      width: 0;
    }
  }
}

body .radio_root{
  height: 16px;
  width: 16px;
  border-radius: 4px;
  background-color: #4E91D9 !important;
  margin: 12px;
  position: relative;
  padding: 0;

  &:nth-child(1){
    background-color: #4E91D9 !important;
  }
  &:nth-child(2){
    background-color: #4ED98C !important;
  }
  &:nth-child(3){
    background-color: #D94E4E !important;
  }
  &:nth-child(4){
    background-color: #D9844E !important;
  }
  &:nth-child(5){
    background-color: #FFD948 !important;
  }
  &:nth-child(6){
    background-color: #fff !important;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  &:hover{
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -8px;
      left: -8px;
      background: rgba(206,225,246,0.2);
      border: 1px solid #CEE1F6;
      border-radius: 4px;
      width: 32px;
      height: 32px;
    }
  }

  svg{
    width: 0;
    height: 0;
  }
}

body .radioGroup_root{
  flex-direction: row;
}